<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
  <link th:rel="stylesheet" th:href="@{/resources/css/w3.css}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/jasper/reptransacciones">Reporte de Transacciones</a>
            </li>                     
            <th:block th:if="${session.user!=null}">
              <li class="nav-item">
                <a class="nav-link" href="#">Consulta Persona</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <th:block th:if="${session.user==null}">
              <li class="nav-item">
                <a class="nav-link" href="/cliente/register"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuario/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
              </li>
            </th:block>   
            <th:block th:if="${session.user!=null}">
              <li class="nav-item">
                <a class="nav-link" href="/usuario/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
              </li>
            </th:block>
          </ul>
        </div>
    </nav> 

    <div class="contenido">
      <div class="container">
        <th:block th:include="${template}" />
      </div>
    </div>

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
      <hr>
      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: #f1f1f1;">
        © 2020 Copyright: Grupo-negro
      </div>
      <!-- Copyright -->
    </footer>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    

  </body>
  
  </html>